body {
	background-color: #c9e5ab;
	padding: 0;
	margin: 0;
}

.card_double {
	grid-column: 2;
	grid-row: 1 / 2 span;
}

@media (max-width: 800px) {
	.card_double {
		grid-column: 1;
	}
}

/* Магазин */

.price {
	font-size: 16px;
	margin-left: auto;
}

.price_div {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: auto;
}

.gen_shop_card {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: auto;
	align-items: center;
	box-sizing: border-box;
}

.shop_card {
	width: 100%;
	height: auto;
}

.shop_card p {
	white-space: normal;
	overflow-wrap: break-word;
}
